<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119187978168-id5pfa19phconhqu8gejhp9alm0vju17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119187978168-id5pfa19phconhqu8gejhp9alm0vju17</string>
	<key>API_KEY</key>
	<string>AIzaSyCssBFMY04zYHefskRdJtb5y6PvAm10Cd4</string>
	<key>GCM_SENDER_ID</key>
	<string>119187978168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamify.app</string>
	<key>PROJECT_ID</key>
	<string>ionic-gamify</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic-gamify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119187978168:ios:171b3200af6bf2f45a414d</string>
	<key>DATABASE_URL</key>
	<string>https://ionic-gamify.firebaseio.com</string>
</dict>
</plist>