<!-- <ion-header class="myHeader"> -->
  <!-- <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar> -->
  <!-- <img class="logo" src="../assets/logo/logo.png" alt="NA">
</ion-header> -->

<ion-content>
  <!-- remove body tag and add bg to div to ensure btn is visible for super small height -->
  <!-- <body class="bg">  -->
  <div class="bg">
   <div class="main-div ion-padding">
     <div class="div1">
       <p class="headline">
        LEVEL UP WITH <span class="levvup">LEVVUP</span>
       </p>
       <p>
         Levvup is the next generation productivity app.
       </p>
        <p>
         Become more productive and have fun at the same time as you work using Levvup.
        </p>
        <!-- <p>
          Get more work done, reward yourself and share your progress with friends. Earn points by completing your daily tasks and redeem rewards!
        </p> -->
        <!-- <p>
          Working on yourself has never been so hard, but you don't have to be alone on this difficult journey! Use Levvup to grow together with your friends/colleagues!
        </p> -->
        <p class="myList">
          With Levvup you can:
        </p>
          <ul>
                <li>Set your tasks.</li>
                <li>Track and share your goals with peers.</li>
                <li>Earn GP (Grit Points) and unlock rewards.</li>
          </ul>
          <!-- <p>
            Who can use Levvup?<br>
            <span>
              We are building Levvup for Corporate Employees, Entrepreneurs, and Professionals who want to Level Up in their Careers
            </span>
            <span>
              We are Waiting for you. Sign Up for Beta.
            </span>
          </p> -->
          <p class="endLine">
            We are waiting for you. Sign up for Beta.
          </p>
       <div>
         <br>
         <ion-button class="reg" (click)="toBeta()">Sign-up now</ion-button>
       </div>
      </div>


      <!-- <div class="div2">
        <img class="photo" src="../assets/success.png" alt="NA"> -->
        <!-- <img class="bgimg" src="../assets/levvup-unsplash.jpg" alt=""> -->
      <!-- </div> -->


    </div>
  </div>
<!-- </body> -->

</ion-content>
