ion-content{

    --ion-background-color:white;
  }
  ion-toolbar {
  
    --ion-background-color:white;
  }
  ion-list ion-grid ion-label ion-input ion-item ion-row ion-col{
    --ion-background-color:white;
  }
  form{
    --ion-background-color:white;
  }